a,
a.visited {
    color: #777;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  color: #333;
}

.index-form {
  ul li::before,
  ul.list-links a::before,
  .list-anchor a::before {
    content: "" !important;
  }
}

.linefade{
  border: 0;
  position: relative;
  width: 100%;
  height: 1px;

  background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

body.index {
  background: url("/images/bg-index.jpg") no-repeat top center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin:0;
  padding:0;
  height:100%;
  min-width: 1020px;

  .container {
    height: 100%;

    .my-column {
      /*display: inline;*/
    }

    .left {
      width: 50%;
      float: left;
    }
    .right {
      width: 50%;
      float: right;
    }
  }
}

.index-logo {
  font-weight: 800;
  font-family: Montserrat;
  font-size: 40px;
  color: #F0CD51;
  padding-top: 135px;
  padding-left: 0;
  letter-spacing: 1px;

  /*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 1px -1px 0px rgba(0,0,0,.7);*/

  a,
  a.visited {
    color: black;
  }

  a:hover,
  a:focus {
    color: gray;
    /*text-shadow: 0px 1px 0px rgba(255,255,0,.5), 1px -1px 0px rgba(0,0,0,.7);*/
  }
}

.index-menu {
  position: relative;
  top: 80px;
  padding-left: 60px;
  display: none;

  .list-links {
    list-style-type: none;

    li {
      padding-bottom: 3px;
      font-size: 15px;
    }
  }

  a, a:visited { color: #333; }
  a:hover,
  a:focus {
    color: #551a8b;
  }
}

.index-menu a {
  text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 30px #fff, 0 0 4px #F8E2E2, 0 0 7px #F8EDF8,
        0 0 8px #EEE3EE, 0 0 10px #F5EAF5, 0 0 15px #F5EAF5;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */
  text-decoration: none;
}

.index-form {
  position: absolute;
  top: 0;
  right: 80px;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
  height: 100%;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;

  a {
    color: black;
    line-height: 20px;
    font-size: 14px;
  }
  a:hover,
  a:focus {
    color: gray;
  }

  ul {
    margin-left: -15px;
    margin-top: -15px;
    padding-top: 30px !important;
  }

  li {
    display: inline;
  }

  .index-form-nav {
    padding-top: 5px;
  }

  .index-form-logo {
    /*margin: 10px 10px 0 10px;*/
  }

  p {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 0.5em;
  }

  #loginform label {
    font-weight: 700;
    font-size: 14px;
    line-height: 2em;
  }

  #loginform input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
  }

  #loginform p {
    line-height: 1em;
  }

  .forget-info {
    padding-top: 22px;

    a {
      font-size: 0.6em;
      font-weight: normal;
    }
  }
}

.error-info {
  color: red;
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
}

#basic-modal {
  ul li::before {
    font-family: "icons";
    font-size: 12px;
    display: block;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 26px;
  }
}

.my-input-dialog {
  text-align: center;

  input {
    margin: 1.5em 0;
    width: 60%;
  }

  p {
    padding-top: 0;
  }

  .btn-default {
    border: 1px solid #ccc;
    color: #ccc;
  }

  .btn-default:nth-of-type(1) {
    margin-right: 20px;
  }

  .error-info {
    margin-left: 60px;
    margin-top: -10px;
  }
}

#forgot-pwd-dialog,
#invitation-dialog, {
  input[disabled], html input[disabled] {
    cursor: default;
    background-color: transparent;
  }

  input[disabled] .btn-default:hover,
  input[disabled] .btn-default:focus {
    outline: 0;
    color: #eee;
    background-color: transparent;
  }
}
