a,
a.visited {
    color: #777;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
}

ul li::before,
ul.list-links a::before,
.list-anchor a::before {
  content: "" !important;
}

body.index {
  background: url("/images/bg-index.jpg") no-repeat top center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin:0;
  padding:0;
  height:100%;
  min-width: 1020px;

  .container {
    height: 100%;

    .my-column {
      /*display: inline;*/
    }

    .left {
      width: 50%;
      float: left;
    }
    .right {
      width: 50%;
      float: right;
    }
  }
}

.index-logo {
  font-weight: 800;
  font-family: Montserrat;
  font-size: 40px;
  color: #777;
  padding-top: 30px;
  padding-left: 10px;
  letter-spacing: 1px;

  a:hover,
  a:focus {
    color: #333;
  }
}

.index-menu {
  position: relative;
  top: 80px;
  padding-left: 60px;

  .list-links {
    list-style-type: none;

    li {
      padding-bottom: 3px;
      font-size: 15px;
    }
  }

  a, a:visited { color: #333; }
  a:hover,
  a:focus {
    color: #551a8b;
  }
}

.index-menu a {
  text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 30px #fff, 0 0 4px #F8E2E2, 0 0 7px #F8EDF8,
        0 0 8px #EEE3EE, 0 0 10px #F5EAF5, 0 0 15px #F5EAF5;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */
  text-decoration: none;
}

.index-form {
  position: absolute;
  top: 0;
  right: 80px;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
  height: 100%;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 340px;

  a {
    color: #777;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  a:hover,
  a:focus {
    color: #333;
  }

  ul {
    margin-left: -15px;
    margin-top: -15px;
    padding-top: 30px !important;
  }

  li {
    display: inline;
  }

  .index-form-nav {
    padding-top: 5px;
  }

  .index-form-logo {
    margin: 15px;
  }

  p {
    font-family: Gentium Basic;
    font-size: 20px;
    padding-top: 0.5em;
  }

  .linefade{
    border: 0;
    position: relative;
    width: 100%;
     height: 1px;
     background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
     background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
     background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
     background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }

  #loginform label {
    font-weight: 700;
    font-size: 14px;
    line-height: 2em;
  }

  #loginform input {
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
  }

  #loginform p {
    line-height: 1em;
  }

  .forget-info {
    padding-top: 20px;

    a {
      font-size: 0.6em;
      font-weight: normal;
    }
  }
}
