body.info {
  background: url("/images/bg-information.jpg") no-repeat center center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin:0;
  padding:0;
  height:100%;
  min-width: 1020px;
  color: #000;

  .static-container {
    background: url("/images/bg-information.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

.static-container {
  position: fixed;
  width: 100%;
  padding: 2px 0;
  border-bottom: 0;
  letter-spacing: 1px;
  background: 0 0;
  z-index: 1030;

/*  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;*/
}

.static-nav-bar {
  /*width: 970px;
  margin-left: auto;
  margin-right: auto;  */
  margin-bottom: 40px;
  padding-top: 12px;
  /*margin-left: 20px;
  margin-right: 20px;*/

  .logo {
    float: left;
  }

  .tr-nav-bar {
    float: right;
    /*letter-spacing: 1px;*/
    width: 370px;
    text-align: right;

    li { display: inline; padding-left: 1px;}
    ul { padding-top: 0;}

    ul li::before,
    ul.list-links a::before,
    .list-anchor a::before {
      content: "" !important;
    }

    a {
      text-decoration: none;
      color: black;
      padding: 0 5px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 700;
    }

    a:hover,
    a:focus {
      color: gray;
    }
  }
}

.turn-black {
  /*padding: 0;
  background-color: #fff;

  -webkit-box-shadow: 0 8px 6px -3px #888;
     -moz-box-shadow: 0 8px 6px -3px #888;
          box-shadow: 0 8px 6px -3px #888;*/
}

/*****************************/
#about-us {
  position: absolute;
  top: 440px;
}
#membership {
  position: absolute;
  top: 1080px;
}
#service {
  position: absolute;
  top: 1500px;
}

#about-us-cn {
  position: absolute;
  top: 360px;
}
#membership-cn {
  position: absolute;
  top: 860px;
}
#service-cn {
  position: absolute;
  top: 1285px;
}

/*****************************/
.my-content {
  float: left;
  position: relative;
  padding-bottom: 120px;
  width: 100%;
  min-width: 1024px;
  clear: both;
}

.info-block {
  max-width: 60%;
  min-width: 600px;
  margin: auto;
  text-align: center;
}

.not-trans {
  background-color: white;
}

.semi-trans {
  background-color: rgba(255,255,255,.85);
}

.title {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-family: Simsun,'Helvetica Neue',Helvetica,Arial,Sans-serif !important;
}

.pattern {
  width: 90%;
  height: 15px;
  background-image: url("../images/pattern.jpg");
  text-align: center;
  margin: auto;
}

.content-text {
  width: 90%;
  /* border: thin dotted #000000; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 22px;
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
  overflow-y: auto;

  .content-link {
    position: relative;
    text-align: right;
    text-decoration: none;
    /*padding-right: 5%;*/

    a {
      color: #F0CD51;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    a:hover, a:focus {
      color: #176e61;
    }
  }
}

.content-text p {
  text-indent: 30px;
  font-size: 1em;
  text-align: justify;
  font-family: Gentium Basic;
}

.info-sub-menu {
  li {
    display: inline-block;
    /*width: 30%;
    margin: auto;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    vertical-align: middle;
  }
  a { color: #555; }

  a:hover,
  a:focus {
    color: #333;
  }
}

.membership {
  li {
    margin-bottom: 20px;
    font-size: 1.3em;
  }

  .member-group {
    font-size: 1.5em;
  }

  .member-item {
    font-family: Gentium Basic;
    color: rgb(240,205,91);
  }
}

.info-half {
  float: left;
  overflow: auto;
  width: 45%;
  text-align: justify;
  /*padding-left: 5%;*/
  /*font-family: Gentium Basic;*/

  ul li::before,
  ul.list-links a::before,
  .list-anchor a::before {
    content: "" !important;
  }
}

.selected {
  /*color: red;*/
  opacity: 1;
}

.menu-set {
  text-align: left;
  padding-top: 1em;

  >li:not(:first-child) {
    padding-top: 10px;
  }

  li {
    font-size: 14px;
    cursor: pointer;
    padding-left: 0;
  }

  img {
    width: 14px;
    position: relative;
    top: -2px;
  }

  ul {
    padding-top: 0;
    padding-left: 1.4em;
    list-style-type: disc;
    line-height: 1.4;
  }
}



/***********************************************/
/***************Events Page*********************/
/***********************************************/
body.events {
  background: url("/images/bg-events.jpg") no-repeat center top fixed;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  color: #000;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .static-container {
    background: url("/images/bg-events.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

.noevents {
  position: relative;
  width: 100%;
  font-family: Gentium Basic;
  font-size: 1.5em;
  text-align: center;
}

.more-events-btn {
  padding-top: 5px;
  padding-bottom: 20px;
  color: #474747;
  font-size: .9em;
  margin: auto;
  height: 30px;
  max-width: 60%;
  min-width: 600px;
  background-color: #FFFFFF;
  opacity: .7;
  text-align: center;
}

/***********************************************/
/***************Contacut Page*********************/
/***********************************************/
body.contact {
  background: url("/images/bg-contact.jpg") no-repeat center top fixed;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  color: #000;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .static-container {
    background: url("/images/bg-contact.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}
